Package: epson-inkjet-printer-201215w
Source: epson-inkjet-printer
Version: 1.0.0-0
Architecture: amd64
Maintainer: Seiko Epson Corporation <linux-printer@epson.jp>
Installed-Size: 2722
Depends: libc6 (>= 2.2.5), epson-inkjet-printer-filter
Section: graphics
Priority: extra
Description: M100/M200 Series - Epson Inkjet Printer Driver
 This software is a filter program used with Common UNIX Printing
 System (CUPS) from the Linux. This can supply the high quality print
 with Seiko Epson Color Ink Jet Printers.
 .
 This printer driver is supporting the following printers.
 .
 M100
 M101
 M105
 M200
 M201
 M205
 .
 For detail list of supported printer, please refer to below site:
 http://download.ebz.epson.net/dsc/search/01/search/?OSC=LX
